.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
  display: flex;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ffa500;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.actions .button--alt {
  color: #ffa500;
}

.actions .button {
  background-color: #ffa500;
  color: white;
}

.items {
  display: flex;
  justify-content: space-between;
}
.items > div {
  display: flex;
}

#buttons > button:first-child {
  border: 1px solid #cd3131;
  color: #cd3131;
  width: 100px;
}
#buttons > button:first-child:hover {
  background-color: #cd3131;
  color: white;
}
#buttons > button:hover {
  background-color: #ffa500;
  color: white;
}
#buttons > button {
  font: inherit;
  cursor: pointer;
  border: #ffa500;
  border: 1px solid #ffa500;
  color: #ffa500;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-weight: bold;
}

#buttons {
  display: flex;
  gap: 10px;
}
